{% extends 'layout.html' %}

{% block content %}
    <h1 align = "center">{{name}}</h1>

    <h2>ป้ายกำกับ</h2>
    <ul>
        {% for tag in tags %} <!-- for loop -->
            <li>{{tag}}</li>
        {% endfor %}
    </ul>
    <h3>ความนิยม</h3>
    {% if rating > 3 %} <!-- if statement -->
        <ul>สูง</ul>
    {% else %} 
        <ul>ต่ำ</ul>
    {% endif %}   
    <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">รหัส</th>
            <th scope="col">หัวข้อ</th>
            <th scope="col">คำอธิบาย</th>
          </tr>
        </thead>
        <tbody>
            {% for post in posts %}
          <tr>
            <th scope="row">{{post.id}}</th>
            <td>{{post.name}}</td>
            <td>{{post.desc}}</td>
          </tr>
            {% endfor %}
        </tbody>
      </table>
      
{% endblock %}